@media screen, print {
  body.colorful-headings-text {
    .markdown-rendered h1,
    .HyperMD-header-1 {
      color: var(--h1-color, var(--color-red));
    }
    .markdown-rendered h2,
    .HyperMD-header-2 {
      color: var(--h2-color, var(--color-orange));
    }
    .markdown-rendered h3,
    .HyperMD-header-3 {
      color: var(--h3-color, var(--color-yellow));
    }
    .markdown-rendered h4,
    .HyperMD-header-4 {
      color: var(--h4-color, var(--color-green));
    }
    .markdown-rendered h5,
    .HyperMD-header-5 {
      color: var(--h5-color, var(--color-blue));
    }
    .markdown-rendered h6,
    .HyperMD-header-6 {
      color: var(--h6-color, var(--color-purple));
    }
  }

  body.colorful-headings-dot {
    .markdown-rendered :is(h1, h2, h3, h4, h5, h6),
    .cm-line.HyperMD-header {
      &:not(:hover) .heading-collapse-indicator {
        opacity: 1;

        svg.svg-icon {
          border-radius: 100vh;
        }
      }
    }

    .markdown-rendered h1:not(:hover) .heading-collapse-indicator svg.svg-icon,
    .HyperMD-header-1:not(:hover) .heading-collapse-indicator svg.svg-icon {
      color: var(--h1-color, var(--color-red));
      background-color: var(--h1-color, var(--color-red));
    }
    .markdown-rendered h2:not(:hover) .heading-collapse-indicator svg.svg-icon,
    .HyperMD-header-2:not(:hover) .heading-collapse-indicator svg.svg-icon {
      color: var(--h2-color, var(--color-orange));
      background-color: var(--h2-color, var(--color-orange));
    }
    .markdown-rendered h3:not(:hover) .heading-collapse-indicator svg.svg-icon,
    .HyperMD-header-3:not(:hover) .heading-collapse-indicator svg.svg-icon {
      color: var(--h3-color, var(--color-yellow));
      background-color: var(--h3-color, var(--color-yellow));
    }
    .markdown-rendered h4:not(:hover) .heading-collapse-indicator svg.svg-icon,
    .HyperMD-header-4:not(:hover) .heading-collapse-indicator svg.svg-icon {
      color: var(--h4-color, var(--color-green));
      background-color: var(--h4-color, var(--color-green));
    }
    .markdown-rendered h5:not(:hover) .heading-collapse-indicator svg.svg-icon,
    .HyperMD-header-5:not(:hover) .heading-collapse-indicator svg.svg-icon {
      color: var(--h5-color, var(--color-blue));
      background-color: var(--h5-color, var(--color-blue));
    }
    .markdown-rendered h6:not(:hover) .heading-collapse-indicator svg.svg-icon,
    .HyperMD-header-6:not(:hover) .heading-collapse-indicator svg.svg-icon {
      color: var(--h6-color, var(--color-purple));
      background-color: var(--h6-color, var(--color-purple));
    }
  }

  body.colorful-headings-side {
    .markdown-rendered :is(h1, h2, h3, h4, h5, h6),
    .cm-line.HyperMD-header {
      position: relative;
      padding-inline-start: var(--font-ui-smaller);

      &::before {
        pointer-events: none;
        display: inline-flex;
        border-radius: var(--radius-s);
        width: 4px;
        inset-block: 0;
        content: "";
        position: absolute;
        inset-inline-start: 0;
        transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
      }
    }

    .HyperMD-header:not(.cm-line.HyperMD-header + .cm-line:not(.HyperMD-header):has(> br:only-child) + .cm-line.HyperMD-header)::before {
      margin-top: var(--p-spacing);
    }

    .markdown-rendered h1::before,
    .HyperMD-header-1::before {
      background-color: var(--h1-color, var(--color-red));
    }
    .markdown-rendered h2::before,
    .HyperMD-header-2::before {
      background-color: var(--h2-color, var(--color-orange));
    }
    .markdown-rendered h3::before,
    .HyperMD-header-3::before {
      background-color: var(--h3-color, var(--color-yellow));
    }
    .markdown-rendered h4::before,
    .HyperMD-header-4::before {
      background-color: var(--h4-color, var(--color-green));
    }
    .markdown-rendered h5::before,
    .HyperMD-header-5::before {
      background-color: var(--h5-color, var(--color-blue));
    }
    .markdown-rendered h6::before,
    .HyperMD-header-6::before {
      background-color: var(--h6-color, var(--color-purple));
    }
  }

  body.colorful-headings-side,
  body.colorful-headings-background {
    .heading-collapse-indicator {
      inset-inline-start: 0;
    }
    .cm-active .heading-collapse-indicator {
      inset-inline-start: -32px;
    }
  }

  body.colorful-headings-side.colorful-headings-background {
    .markdown-rendered :is(h1, h2, h3, h4, h5, h6),
    .cm-line.HyperMD-header {
      padding-inline-start: var(--font-ui-smaller);
    }
  }

  body.colorful-headings-background {
    .markdown-rendered :is(h1, h2, h3, h4, h5, h6),
    .cm-line.HyperMD-header {
      position: relative;
      padding-inline: 8px;

      border-radius: var(--radius-s);
    }

    .markdown-source-view:not(.is-live-preview) .cm-line.HyperMD-header::after {
      inset-block: 0;
    }

    .markdown-rendered h1,
    .HyperMD-header-1 {
      background-color: var(--zhiyu-heading-bg-1);
    }
    .markdown-rendered h2,
    .HyperMD-header-2 {
      background-color: var(--zhiyu-heading-bg-2);
    }
    .markdown-rendered h3,
    .HyperMD-header-3 {
      background-color: var(--zhiyu-heading-bg-3);
    }
    .markdown-rendered h4,
    .HyperMD-header-4 {
      background-color: var(--zhiyu-heading-bg-4);
    }
    .markdown-rendered h5,
    .HyperMD-header-5 {
      background-color: var(--zhiyu-heading-bg-5);
    }
    .markdown-rendered h6,
    .HyperMD-header-6 {
      background-color: var(--zhiyu-heading-bg-6);
    }
  }
  body.colorful-headings-background:not(.colorful-headings-full-width) {
    .markdown-rendered :is(h1, h2, h3, h4, h5, h6),
    .HyperMD-header {
      width: fit-content;
      max-width: 100%;
    }
    .markdown-rendered h1,
    .HyperMD-header-1 {
      justify-self: var(--h1-align);
    }
    .markdown-rendered h2,
    .HyperMD-header-2 {
      justify-self: var(--h2-align);
    }
    .markdown-rendered h3,
    .HyperMD-header-3 {
      justify-self: var(--h3-align);
    }
    .markdown-rendered h4,
    .HyperMD-header-4 {
      justify-self: var(--h4-align);
    }
    .markdown-rendered h5,
    .HyperMD-header-5 {
      justify-self: var(--h5-align);
    }
    .markdown-rendered h6,
    .HyperMD-header-6 {
      justify-self: var(--h6-align);
    }
  }
}
