body.input-cupertino {
  --side-padding: 20px;

  --p-spacing: 1rem;

  --input-shadow: none;
  --input-shadow-hover: none;

  --blur-s: blur(2px) saturate(1.5) brightness(1.025);
  --blur-m: blur(4px) saturate(1.5) brightness(1.025);
  --blur-l: blur(8px) saturate(1.5) brightness(1.025);

  --clickable-icon-radius: 100vh;
  --button-radius: var(--input-radius);
  --input-radius: var(--radius-s);
  --input-height: 24px;

  --interactive-hover: var(--interactive-normal);
  --background-modifier-border: var(--zhiyu-palette-color-base-30);
  --background-modifier-border-hover: var(--background-modifier-border);
  --background-modifier-border-focus: var(--interactive-accent);

  &.is-mobile {
    --titlebar-background: transparent;
    --titlebar-background-focused: transparent;
    --background-modifier-form-field: var(--interactive-normal);

    --radius-s: calc(16px * var(--radius-modifier));
    --radius-m: calc(24px * var(--radius-modifier));
    --radius-l: calc(32px * var(--radius-modifier));
    --radius-xl: calc(40px * var(--radius-modifier));

    --input-radius: var(--radius-l);
    --input-height: 48px;
    --input-padding: 0 var(--side-padding);
  }
  &.is-phone {
    --nav-item-padding: calc(16px * var(--density-modifier)) var(--side-padding);
  }

  &.is-mobile.theme-light {
    --background-modifier-form-field: var(--interactive-normal);
    --interactive-normal: var(--background-secondary);
  }
  &.is-mobile.theme-dark {
    --settings-background: var(--background-secondary);
    --setting-items-background: var(--background-secondary-alt);

    .modal.mod-sidebar-layout {
      --background-modifier-border: var(--zhiyu-palette-color-base-30);
    }
  }
  &.is-phone.theme-dark {
    --modal-sidebar-background: var(--background-secondary);
    --mobile-sidebar-background: var(--background-primary);
  }

  &.theme-light {
    --divider-color: var(--zhiyu-palette-color-base-30);

    --blur-background: var(--background-primary);

    --shadow-base: inset 1px 1px 2px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(255, 255, 255, 0.5), inset 0 4px 16px rgba(255, 255, 255, 0.025);
    --shadow-edges: 0 0 1px rgba(0, 0, 0, 0.4);
    --shadow-surface: 0 0 1px rgba(0, 0, 0, 0.4), inset 0 0 1px 1px rgba(255, 255, 255, 0.8), 0 4px 24px rgba(0, 0, 0, 0.075);

    --shadow-xs: var(--shadow-base), inset 0 -8px 48px rgba(0, 0, 0, 0.02), 0 0 8px rgba(0, 0, 0, 0.025), 0 4px 24px rgba(0, 0, 0, 0.075);
    --shadow-s: var(--shadow-base), inset 0 0 1px 1px white, var(--shadow-edges), 0 8px 16px rgba(0, 0, 0, 0.2);
    --shadow-l: var(--shadow-edges), inset 0 0 1px 1px white, 0 16px 64px rgba(0, 0, 0, 0.15);
  }

  &.theme-dark {
    --divider-color: var(--zhiyu-palette-color-base-30);

    --blur-background: var(--background-primary);

    --shadow-base:
      inset 1px 1.5px 1px -1px rgba(255, 255, 255, 0.2), inset -1px -1.5px 1px -1px rgba(255, 255, 255, 0.15), inset 0 4px 16px rgba(255, 255, 255, 0.025);
    --shadow-edges: 0 0 1px rgba(255, 255, 255, 0.3);
    --shadow-surface: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0.2);

    --shadow-xs: var(--shadow-base), 0 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-s: var(--shadow-edges), 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0.2);
    --shadow-l: var(--shadow-edges), 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px rgba(0, 0, 0, 0.7), 0 16px 64px rgba(0, 0, 0, 0.3);
  }

  // Button
  button:where(:not(.clickable-icon, .ant-switch, .workspace-leaf-content:not([data-type="markdown"]) button, .copy-code-button)) {
    padding: 4px 12px;
  }
  &.is-phone button:where(:not(.clickable-icon, .ant-switch, .workspace-leaf-content:not([data-type="markdown"]) button, .copy-code-button)) {
    padding: 0 var(--side-padding);
  }
  &.is-tablet button:where(:not(.clickable-icon, .ant-switch, .workspace-leaf-content:not([data-type="markdown"]) button, .copy-code-button)) {
    padding: 4px var(--side-padding);
  }
  &:not(.is-mobile) {
    --tab-action-width: 40px;

    .clickable-icon {
      min-width: var(--tab-action-width);
    }
    .clickable-icon:not([aria-disabled="true"]):hover,
    .clickable-icon.has-active-menu,
    .modal-close-button:hover,
    .modal-header-button:hover {
      box-shadow: var(--shadow-xs);
      background-color: var(--raised-background);
    }
  }

  // Slider
  --slider-thumb-border-width: 0;
  --slider-thumb-y: -5px;
  --slider-thumb-height: 16px;
  --slider-thumb-width: 20px;
  --slider-thumb-radius: var(--toggle-thumb-radius);
  --slider-track-height: 6px;
  --slider-track-background: var(--background-modifier-border-hover);

  &.is-mobile {
    --slider-thumb-y: -9px;
    --slider-thumb-height: 24px;
    --slider-thumb-width: 37px;

    input[type="range"]::-webkit-slider-thumb:active {
      scale: 1.4;
    }
  }

  input[type="range"]::-webkit-slider-thumb {
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline) !important;
    box-shadow:
      0 1px 4px rgba(0, 0, 0, 0.075),
      0 1px 16px rgba(0, 0, 0, 0.1) !important;

    &:active {
      scale: 1.2;
      box-shadow:
        inset 1px 1px 2px -2px rgba(var(--mono-rgb-100), 1),
        inset -1px -1px 2px -2px rgba(var(--mono-rgb-100), 1),
        var(--shadow-xs) !important;
      background-color: var(--raised-background);
    }
  }

  // Toggle
  --toggle-border-width: 1.5px;
  --toggle-thumb-height: 13px;
  --toggle-thumb-width: 21px;
  --toggle-width: 36px;
  --toggle-s-border-width: var(--toggle-border-width);
  --toggle-s-thumb-height: var(--toggle-thumb-height);
  --toggle-s-thumb-width: var(--toggle-thumb-width);
  --toggle-s-width: var(--toggle-width);

  &.is-mobile {
    --toggle-border-width: 2px;
    --toggle-thumb-height: 24px;
    --toggle-thumb-width: 37px;
    --toggle-width: 68px;
  }

  .checkbox-container {
    box-shadow: none;

    &:not(:active) {
      overflow: hidden;
    }

    &::after {
      transition: var(--anim-duration-moderate) var(--anim-motion-baseline) !important;
      box-shadow:
        0 1px 4px rgba(0, 0, 0, 0.075),
        0 1px 16px rgba(0, 0, 0, 0.1);
    }
    &:active:after {
      --toggle-border-width: -2.5px;
      --toggle-thumb-height: 21px;
      --toggle-thumb-width: 35.5px;
      --toggle-s-border-width: var(--toggle-border-width);
      --toggle-s-thumb-height: var(--toggle-thumb-height);
      --toggle-s-thumb-width: var(--toggle-thumb-width);

      box-shadow:
        inset 1px 1px 2px -2px rgba(var(--mono-rgb-100), 1),
        inset -1px -1px 2px -2px rgba(var(--mono-rgb-100), 1),
        var(--shadow-xs);
      background-color: var(--raised-background);
    }
  }
  &.is-mobile .checkbox-container:active:after {
    --toggle-border-width: -6px;
    --toggle-thumb-height: 40px;
    --toggle-thumb-width: 59px;
    --toggle-s-border-width: var(--toggle-border-width);
    --toggle-s-thumb-height: var(--toggle-thumb-height);
    --toggle-s-thumb-width: var(--toggle-thumb-width);
  }

  // Dropdown
  &.is-mobile {
    --dropdown-padding-start: var(--side-padding);
  }

  select::focus-visible,
  .combobox-button::focus-visible,
  .dropdown::focus-visible {
    box-shadow: none;
  }

  // Search bar
  .search-input-container {
    display: flex;
    align-items: center;
    overflow: visible;

    &:before {
      top: unset !important;
      inset-inline-start: calc((var(--input-height) - var(--icon-s)) / 2);
      height: var(--icon-s);
      width: var(--icon-s);
    }

    input {
      padding-inline-start: var(--input-height) !important;
    }
  }
  .mod-sidedock,
  .vertical-tab-header,
  .community-modal-controls {
    .search-input-container,
    input[type="search"] {
      --input-height: 32px;
    }
    .search-input-container input[type="search"] {
      border: none;
      border-radius: 100vh;
      background-color: var(--background-modifier-hover);
    }
  }
  &.is-mobile .search-input-container::before {
    inset-inline-start: 12px;
  }

  // Ribbon
  .workspace-ribbon.mod-left .sidebar-toggle-button .clickable-icon:hover,
  .workspace-ribbon.mod-left .side-dock-actions .side-dock-ribbon-action:hover {
    box-shadow: none !important;
    background-color: transparent !important;
    color: var(--text-normal);
  }

  // Side panels
  &:not(.is-mobile):not(.tab-top-left-stacked, .tab-top-left-dropdown, .tab-top-left-text) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space,
  &:not(.is-mobile):not(.tab-top-right-dropdown, .tab-top-right-text) .mod-sidedock.mod-right-split .workspace-tabs.mod-top-right-space,
  &:not(.is-mobile):not(.tab-left-dropdown, .tab-left-text) .mod-sidedock.mod-left-split .workspace-tabs:not(.mod-top),
  &:not(.is-mobile):not(.tab-right-dropdown, .tab-right-text) .mod-sidedock.mod-right-split .workspace-tabs:not(.mod-top) {
    .workspace-tab-header-container-inner {
      -webkit-app-region: no-drag;
      gap: 0px;
      transition: var(--anim-duration-moderate);
      border-radius: var(--clickable-icon-radius);
      padding: 0;
      outline: 2px solid transparent;
      background-clip: content-box;
      height: auto;
      z-index: 1;
    }

    .workspace-tab-header-container-inner:hover {
      background-color: var(--background-modifier-hover);
      outline-color: var(--background-modifier-hover);
    }
    .workspace-tab-header-container-inner:hover .workspace-tab-header.is-active {
      background-color: var(--background-primary);
      box-shadow: var(--shadow-xs);

      .workspace-tab-header-inner-icon {
        color: var(--text-normal) !important;
      }
    }

    .workspace-tab-header {
      border-radius: var(--clickable-icon-radius);
    }
    .workspace-tab-header-inner {
      padding: 8px;
    }
    .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner {
      background-color: var(--background-modifier-hover);
    }
    .sidebar-toggle-button,
    .workspace-tab-header-inner {
      border-radius: var(--clickable-icon-radius);
      width: var(--tab-action-width);
      height: fit-content;
      z-index: 1;
    }

    .workspace-tab-header-status-container {
      margin-left: -8px;
    }
    .workspace-tab-header-status-icon,
    .workspace-tab-header-inner-close-button {
      --icon-size: 12px;
      color: var(--text-muted);
    }
  }

  // Panel actions
  &:not(.nav-action-center, .nav-action-left) .mod-sidedock .workspace-leaf-content .nav-header:first-child .nav-buttons-container {
    border-radius: var(--clickable-icon-radius);
    background-color: var(--background-modifier-hover);
    padding: 2px;
    gap: 0;

    .nav-action-button {
      position: relative;
      padding: 8px;
      border-radius: var(--clickable-icon-radius);
    }
    .nav-action-button:hover:not([aria-disabled="true"]) {
      background-color: var(--background-modifier-hover);
      box-shadow: none;
    }
  }

  .mod-sidedock .workspace-tab-container,
  .mod-sidedock .workspace-leaf,
  .mod-sidedock .workspace-leaf-content {
    contain: size !important;
    overflow: visible;
  }

  // Editor panel
  .markdown-source-view,
  .markdown-preview-view {
    transition: transform var(--anim-duration-slow) var(--anim-motion-baseline);
  }
  .workspace-leaf-content[data-mode="source"] > .view-content > .markdown-reading-view > .markdown-preview-view {
    transform: scale(0.995);
    opacity: 0;
  }
  .workspace-leaf-content[data-mode="preview"] > .view-content > .markdown-source-view {
    transform: scale(0.995);
    opacity: 0;
  }

  &:not(.mode-switcher-off) .mod-root .workspace-leaf-content[data-type="markdown"][data-mode="source"] .view-header .view-actions button:nth-last-child(2) {
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
    box-shadow: var(--shadow-xs);
  }
  &.tab-left-compact
    .mod-sidedock.mod-left-split
    .workspace-tabs:not(.mod-top)
    .workspace-tab-header-container:not(:hover)
    .workspace-tab-header-container-inner,
  &.tab-right-compact
    .mod-sidedock.mod-right-split
    .workspace-tabs:not(.mod-top)
    .workspace-tab-header-container:not(:hover)
    .workspace-tab-header-container-inner {
    gap: calc(8px * var(--density-modifier));
  }
}
