body.input-cupertino {
  --setting-nav-icon-background: var(--background-secondary);

  .modal.mod-settings .vertical-tab-nav-item {
    .vertical-tab-nav-item-icon {
      --icon-size: var(--icon-xs);
      --icon-stroke: var(--icon-xs-stroke-width);
      box-shadow: none;
      border-radius: 6px;
      background-image: none;
      background-color: var(--setting-nav-icon-background);
      padding: 4px;
      color: var(--setting-nav-icon-color, var(--text-muted));
    }

    &[data-setting-id="canvas"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-color: var(--zhiyu-ink-red);
      --setting-nav-icon-background: var(--color-base-10);
    }
    &[data-setting-id="community-plugins"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-color: var(--zhiyu-ink-blue);
      --setting-nav-icon-background: var(--color-base-10);
    }
    &[data-setting-id="command-palette"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--background-secondary);
    }
    &[data-setting-id="sync"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-color: var(--zhiyu-ink-green);
      --setting-nav-icon-background: var(--color-base-10);
    }
    &[data-setting-id="webviewer"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-color: var(--zhiyu-ink-blue);
      --setting-nav-icon-background: var(--color-base-10);
    }
  }
}

body.input-cupertino:not(.is-mobile) {
  --settings-background: var(--background-primary);
  --setting-items-padding-x: var(--side-padding);
  --setting-items-padding-y: calc(12px * var(--density-modifier));
  --setting-group-heading-color: var(--text-normal);

  .modal.mod-settings {
    .vertical-tab-nav-item.is-active {
      --text-normal: var(--text-on-accent);
      color: var(--text-on-accent);
      background-color: var(--interactive-accent);
    }
    .vertical-tab-nav-item:not(.is-active):hover {
      background-color: transparent;
    }
    .vertical-tab-header-group-title,
    .vertical-tab-nav-item {
      padding: 6px 8px;
    }

    .vertical-tab-content {
      animation: none;
    }

    .setting-group-search + .setting-items {
      border-radius: var(--setting-items-radius);
    }

    .setting-item:not(.setting-item-heading, .setting-items .setting-item) {
      padding: var(--setting-items-padding-y) var(--setting-items-padding-x);
    }
  }
}

body.input-cupertino.is-mobile {
  .modal.mod-settings .vertical-tab-nav-item .vertical-tab-nav-item-icon {
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 0 0.5pt var(--background-modifier-border);
    margin-left: -4px;
  }
}

body.input-cupertino.is-phone {
  --setting-items-radius: var(--radius-m);
  --setting-group-heading-size: var(--font-ui-medium);

  .modal.mod-sidebar-layout {
    --modal-radius: var(--radius-xl) var(--radius-xl) 0 0;
    max-height: calc(100% - var(--safe-area-inset-top));

    .modal-setting-back-button {
      inset-inline-start: var(--safe-area-inset-side);
    }
    .modal-header-button {
      top: var(--safe-area-inset-side);
      inset-inline-end: var(--safe-area-inset-side) !important;
    }

    .vertical-tab-header,
    .vertical-tab-content {
      padding-top: var(--modal-header-height);
    }

    .vertical-tab-nav-item {
      height: var(--touch-size-xl);
    }
    .vertical-tab-nav-item-title {
      line-height: var(--touch-size-xl);
    }
  }
  .modal.mod-settings {
    --modal-header-height: 76px;

    .modal-title {
      margin-top: 16px;
    }
  }
  .modal.mod-community-modal {
    .modal-header {
      position: absolute;
    }
    .modal-title {
      height: calc(var(--touch-size-m) + 32px);
    }

    .modal-content .modal-sidebar,
    .modal-content .community-modal-info {
      padding-top: calc(var(--touch-size-m) + 32px);
      border-radius: var(--modal-radius);
    }
  }
}

body.input-cupertino.is-tablet {
  --setting-items-padding: calc(16px * var(--density-modifier)) var(--side-padding);

  .modal.mod-settings {
    .vertical-tab-header-group-title {
      display: none;
    }
    .vertical-tab-nav-item {
      padding: calc(12px * var(--density-modifier)) var(--side-padding);
    }
    .vertical-tab-nav-item.is-active {
      color: var(--interactive-accent);
      background-color: var(--background-modifier-hover);
    }
  }
}
