body:is(.layout-macos, .layout-fusion):not(.is-mobile) {
  --shadow-sidedock-spread: -32px 0 0 32px var(--background-primary);
  --shadow-surface: 0 0 0 1px var(--background-modifier-hover);
  --tab-outline-width: 1px;

  &:not(.is-focused):not(.reduce-contrast-change) {
    --workspace-background-translucent: var(--background-secondary);
    --tab-outline-color: transparent;

    .modal.mod-settings .vertical-tab-header > div,
    .workspace-ribbon,
    .mod-sidedock > div {
      opacity: 1;
    }
    .modal.mod-settings .vertical-tab-header,
    .mod-sidedock.mod-left-split,
    &.layout-macos .mod-sidedock.mod-right-split,
    &.input-cupertino:is(.tab-floating, .tab-floating-center) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
      background-color: var(--background-modifier-hover) !important;
      box-shadow: none !important;
      transition: none;
    }
  }

  // Side panels
  &.is-fullscreen .mod-sidedock.mod-left-split {
    border-radius: var(--radius-m);

    .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container {
      height: calc(var(--header-height) - 8px);
      padding-left: var(--frame-left-space);
    }
  }

  &.show-ribbon {
    &:not(.mod-macos) .workspace-ribbon.mod-left:not(.is-collapsed),
    &.mod-macos.is-frameless:not(.is-hidden-frameless) .workspace-ribbon.mod-left:not(.is-collapsed) {
      margin-block: 8px;
    }
    &:not(.mod-macos):not(.tab-top-left-stacked) .workspace-ribbon.mod-left:not(.is-collapsed) .sidebar-toggle-button {
      height: calc(var(--header-height) - 24px);
    }
    &:not(.hover-ribbon) .workspace-ribbon.mod-left:not(.is-collapsed) {
      padding-left: 16px;
    }
    &:not(.hover-ribbon) .mod-sidedock.mod-left-split:not(.is-sidedock-collapsed) {
      margin-left: calc(-1 * var(--ribbon-width) + 8px);
      padding-left: var(--ribbon-width);
    }

    .workspace-ribbon.mod-left .sidebar-toggle-button .clickable-icon:hover,
    .workspace-ribbon.mod-left .side-dock-actions .side-dock-ribbon-action:hover {
      box-shadow: none !important;
      background-color: transparent !important;
      color: var(--text-normal);
    }
  }

  &:not(.is-translucent).theme-dark .mod-sidedock {
    background-color: var(--background-secondary);
  }
  &.is-translucent.layout-macos .mod-sidedock,
  &.is-translucent.layout-fusion .mod-sidedock.mod-left-split {
    background-color: var(--background-primary) !important;
  }
  .mod-sidedock {
    transition:
      var(--anim-duration-moderate),
      background-color 0s,
      box-shadow 0s;
  }
  .mod-sidedock.mod-left-split {
    corner-shape: var(--corner-shape);
    z-index: var(--layer-sidedock);
    margin: 8px 0 8px 8px;
    box-shadow: var(--shadow-surface), var(--shadow-sidedock-spread);
    border-radius: var(--radius-window, var(--radius-m));
    height: -webkit-fill-available;
    overflow: hidden;
  }

  &:not(.tab-top-left-stacked) .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container {
    padding-block: 0px;
  }
  &:not(.tab-top-left-stacked) .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container,
  .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container .sidebar-toggle-button {
    min-height: calc(var(--header-height) - 16px);
    max-height: calc(var(--header-height) - 16px);

    div:is(.workspace-tab-header-inner, .clickable-icon) {
      padding-block: 4px;
    }
  }

  .mod-sidedock.mod-right-split > .workspace-leaf-resize-handle {
    border-color: var(--divider-color);
  }

  // Settings
  .modal.mod-settings .vertical-tab-header {
    margin: 8px 0 8px 8px;
    box-shadow: var(--shadow-surface);
    border-radius: max(calc(var(--modal-radius) - 8px), var(--radius-s));
    background-color: var(--background-primary);
  }
}

// Ribbon
body:is(.layout-macos, .layout-fusion:not(.tab-floating, .tab-floating-center)):not(.is-mobile).mod-macos.is-hidden-frameless
  .workspace-ribbon.mod-left.is-collapsed {
  margin-top: calc(var(--header-height) - 1px);
  padding-top: 8px;
  border-top: var(--tab-outline-width) solid var(--tab-outline-color);
}

// Tab style
body.layout-macos:not(.is-phone):not(.tab-floating, .tab-floating-center) .mod-root,
body.layout-fusion:not(.is-phone):not(.tab-floating, .tab-floating-center) .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) .mod-root {
  .workspace-tab-header-container {
    border-bottom: var(--tab-outline-width) solid var(--tab-outline-color);
  }
  .workspace-tab-header-container-inner {
    margin-bottom: -1px !important;
  }
}

body:is(.layout-macos, .layout-fusion).is-tablet {
  &.theme-light {
    --shadow-surface:
      inset 1px 1px 2px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(255, 255, 255, 0.5), inset 0 4px 16px rgba(255, 255, 255, 0.025),
      0 0 1px rgba(0, 0, 0, 0.25), 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  }
  &.theme-dark {
    --shadow-surface: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .workspace {
    background-color: var(--background-primary);
  }

  .workspace-drawer .workspace-drawer-header-name-text {
    font-size: var(--font-ui-small);
  }
  .workspace-drawer .workspace-drawer-header-info {
    color: var(--text-faint);
  }

  .workspace-drawer:not(.is-pinned) {
    background-color: var(--modal-background);
    box-shadow: var(--shadow-xs);
    backdrop-filter: var(--blur-l);
  }

  .workspace-drawer.is-pinned.mod-left {
    background-color: var(--raised-background);
    box-shadow: var(--shadow-surface);
    border: none;
    margin: calc(var(--safe-area-inset-top) + 8px) 0 8px 8px;
    border-radius: calc(env(safe-area-inset-bottom) - 8px);
    height: auto;

    .workspace-drawer-ribbon,
    .workspace-drawer-inner {
      padding-block: 0px 16px;
    }
  }

  .modal.mod-settings .vertical-tab-header {
    margin: 8px 0 8px 8px;
    border-radius: var(--radius-m);
    border: none;
    z-index: 1;
    background-color: var(--raised-background);
    box-shadow: var(--shadow-surface);
  }
}

// macOS specific
body.layout-macos .workspace-split.mod-root .workspace-tab-container {
  border-radius: 0;
}
body.layout-macos:not(.is-mobile) {
  &:not(.is-hidden-frameless) {
    .titlebar {
      background-color: var(--background-primary);
    }
    .mod-sidedock.mod-right-split > .workspace-leaf-resize-handle {
      top: 0;
    }
  }

  // Editor panel
  &.is-translucent .mod-root {
    background-color: var(--background-primary) !important;
  }
  &.is-translucent:not(.is-focused):not(.reduce-contrast-change) .workspace {
    background-color: var(--background-primary);
  }
  &:not(.is-translucent) .workspace {
    background-color: var(--background-primary);
  }
}

body.layout-macos.is-tablet {
  .workspace-drawer.is-pinned.mod-right {
    border-width: var(--divider-width);
  }
}
